.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination button {
    border: 1px solid #ece1e1;
    background-color: transparent;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
    background-color: #f0f0f0;
}

.pagination-button-active{
    color: gray !important;
}

.pagination-div-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
  }