.bg-off-whight{
    background-color: #f8f9fb !important;
}

/* select box */
.css-1u9des2-indicatorSeparator{
    display: none; /* hide select box end | bar */
}

.css-1dimb5e-singleValue{
    color: gray !important; /* select box selected default color */
}

.inline-icon {
    display: inline-flex;
    vertical-align: top;
}

.action-btn{
    border: 0px;
    padding: 0px;
    background-color: white;
}
